@tailwind base;
@tailwind components;
@tailwind utilities;

/* .main {
    background: linear-gradient(to bottom,#ffffff 0% , rgb(53, 52, 52) 25%, black 50%,  rgb(51, 50, 50) 75%,#a8c9e6 100%);
} */

.main {

}

.manrope{
    font-family: var(--font-manrope);
}
.syncopate{
    font-family: var(--font-syncopate);
}

@layer keyframes {
    @keyframes wave-animation {
        0% {
            transform:rotate(0deg)
        }
        10% {
            transform:rotate(20deg)
        }
        20% {
            transform:rotate(-8deg)
        }
        30% {
            transform:rotate(20deg)
        }
        40% {
            transform:rotate(-4deg)
        }
        50% {
            transform:rotate(14deg)
        }
        60% {
            transform:rotate(0deg)
        }
        to {
            transform:rotate(0deg)
        }
    }
  }

  .wave {
    animation-name: wave-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display:inline-block
}
  